esphome:
  name: air-1-bedroom

ota:
  - platform: esphome

packages:
  remote_package:
    url: https://github.com/ApolloAutomation/AIR-1
    ref: main
    files: [Integrations/ESPHome/AIR-1.yaml]
    refresh: 0s

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Air-1-Bedroom Fallback Hotspot"

captive_portal:

prometheus: