esphome:
  name: air-1-bedroom
  # Set the "default" brightness of the LEDs. I'm not too sure why this can only
  # be done statefully like this but whatever.
  # This leads to the lights being switched on on boot, they stay in that state
  # until the first CO2 sensor reading updates it. This seems kinda useful
  # anyway to show that the thing is booting up.
  on_boot:
    priority: -10
    then:
      - light.turn_on:
          id: rgb_light
          brightness: 20%
ota:
  - platform: esphome
packages:
  remote_package:
    url: https://github.com/ApolloAutomation/AIR-1
    ref: main
    files: [Integrations/ESPHome/AIR-1.yaml]
    refresh: 0s
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Air-1-Bedroom Fallback Hotspot"
captive_portal:
prometheus:
# NixOS 25.11's Avahi->nsswitch setup fails for IPv4-only devices.
network:
  enable_ipv6: true
number:
  - platform: template
    name: "Debug (fake) CO2 Level"
    id: debug_co2_slider
    min_value: 400
    max_value: 2000
    step: 10
    initial_value: 1000
    optimistic: true
    on_value:
      then:
        - component.update: scd40
switch:
  - platform: template
    name: "Debug (fake) CO2 Level enabled"
    id: led_debug_mode
    optimistic: true
    restore_mode: ALWAYS_OFF
    on_turn_on:
      - component.update: scd40
    on_turn_off:
      - component.update: scd40
sensor:
  - id: !extend scd40
    co2:
      on_value:
        then:
          - lambda: |-
              // Select source (real/debug) of CO2 reading
              bool debug_mode = id(led_debug_mode).state;
              float co2 = debug_mode ? id(debug_co2_slider).state : x;

              if (co2 < 1000) {
                id(rgb_light).turn_off().perform();
                return;
              }

              // Use the green channel for a gradient between yellow (a.k.a
              // red+green) and red. Seems to work best if nonlinear.
              // This is still imperfect though. I think the issue is that the
              // system lacks granularity at low brightnesses so the green
              // channel effectively jumps to zero and the thing goes full red
              // too early. Whatever.
              float linear_green = 1.0 - ((co2 - 1000.0) / 1000.0);
              if (co2 >= 2000) linear_green = 0.0;
              if (linear_green < 0) linear_green = 0.0;
              if (linear_green > 1.0) linear_green = 1.0;

              float green_ch = sqrt(linear_green);

              ESP_LOGD("LED_CALC", "Mode: %s | CO2: %.1f | Linear G: %.3f | Sqrt G: %.3f",
                      debug_mode ? "DEBUG" : "SENSOR", co2, linear_green, green_ch);

              auto call = id(rgb_light).turn_on();

              call.set_transition_length(debug_mode ? 0 : 2000);
              call.set_rgb(1.0, green_ch, 0.0);
              call.perform();
